{% extends 'base/main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My To Do List</title>
</head>
<body>
    <div class="header-bar">
        <div>
            <h1>Hello {{request.user|title}}</h1>
            <h3 style="margin: 0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}</h3>
        </div>
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <hr>

    <h1>My To Do List {{ color }}</h1>
    <a href="{% url 'task-create' %}">Add Task</a>

    <form method="GET">
        <label>
            <input type="text" name="search-area" value="{{ search_input }}">
        </label>
        <label>
            <input type="submit" value="Search">
        </label>
    </form>

    <table>
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3"><h3>No items in the list</h3></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>


{% endblock content %}
